.Product-section{
    display: flex;
    padding: 20px 150px ;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.product-photos{
    margin-right: 40px;
}
.product-details{
    margin-left: 40px;
}
.company-name{
    font-weight: 700;
    color: hsl(26, 100%, 55%);
    opacity: 70%;
    font-size: 16px;
}

.product-title{
    display: block;
    font-size: 40px;
    margin: 20px 0;
    max-width:400px;
}
.product-description {
    display: flex;
    max-width: 44ch;
    margin: 10px 0;
    opacity: 50%;
    font-size: 14px;
}
.price-details{

    display: flex;
    align-items: center;
    margin: 15px 0;
}
.price{
    font-weight: 700;
    font-size: 25px;
}
.discount{
    background-color: hsl(26, 97%, 88%) ;
    color: hsl(26, 100%, 55%) ;
    padding: 2px 6px;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 10px;
}
.old-price{
    font-size: 13px;
    font-weight: 700;
    opacity: 30%;
    text-decoration:line-through;
}

.purchase-detail{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.quantity-details{
    width: 40%;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 95%);
}
.quantity-details > button {
    all: unset;
    cursor: pointer;
    color:  hsl(26, 100%, 55%);
    font-size: 20px;
    font-weight: 700;
}
.quantity{
    all: unset;
    text-align: center;
    width: 50px;
    height: 20px;
}
.cart-button{
    all: unset;
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(26, 100%, 55%) ;
    padding: 10px 0px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.cart-icon{
    margin-right: 5px;
}
.photoGallery-status{
    display: flex;
}
.photoGallery-mobile-status{
    display: none;
}
@media screen and (max-width: 800px) {

    .Product-section{
        
        display: flex;
        flex-direction: column;
        padding: 0px ; 
        margin: 0;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .product-photos{
        margin-right: 0px;
    }
    .product-details{
        margin-left: 0px;
        padding: 20px;
    }
    .company-name{
        font-weight: 700;
        color: hsl(26, 100%, 55%);
        opacity: 70%;
        font-size: 16px;
    }
    
    .product-title{
        font-size: 30px;
        margin: 20px 0;
        max-width:400px;
    }
    .product-description {
        max-width: 44ch;
        margin: 10px 0;
        opacity: 50%;
        font-size: 16px;
        line-height: 25px;
    }
    .price-details{
    
        display: flex;
        align-items: center;
        margin: 15px 0;
    }
    .price{
        font-weight: 700;
        font-size: 25px;
    }
    .discount{
        background-color: hsl(26, 97%, 88%) ;
        color: hsl(26, 100%, 55%) ;
        padding: 2px 6px;
        font-size: 13px;
        border-radius: 3px;
        margin-left: 10px;
    }
    .old-price{
        font-size: 13px;
        font-weight: 700;
        opacity: 30%;
        text-decoration:line-through;
    }
    
    .purchase-detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }
    .quantity-details{
        width: 100%;
        margin-right: 0px;
        padding: 10px 10px;
        border-radius: 10px;
        display: flex;

        align-items: center;
        justify-content: space-between;
        background-color: hsl(0, 0%, 95%);
    }
    .quantity-details > button {
        all: unset;
        cursor: pointer;
        color:  hsl(26, 100%, 55%);
        font-size: 20px;
        font-weight: 700;
    }
    .quantity{
        all: unset;
        text-align: center;
        width: 50px;
        height: 20px;
    }
    .cart-button{
        all: unset;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: hsl(26, 100%, 55%) ;
        padding: 15px 0px;
        font-size: 24px;
        border-radius: 10px;
        color: white;
        font-weight: 700;
        cursor: pointer;
        margin-top: 10px;
    }
    .cart-icon{
        transform: scale(100%);
        margin-right: 10px;
    }

    .photoGallery-status{
        display: none;
    }
    .photoGallery-mobile-status{
        display: flex;
    }
}

